body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin-left: 10px;
}

.input-amount {
  width: 40px;
}

.container {
  padding-left: 30px;
}

table {
  margin-top: 10px;
}

.delete {
  color: darkred;
  margin-left: 90px;
  text-decoration: none;
}

.amount {
  padding-left: 50px;
}